---

- name: Fail if required Postgres settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`).
  when: "vars[item] == ''"
  with_items:
    - postgres_identifier
    - postgres_uid
    - postgres_gid
    - postgres_container_network
    - postgres_connection_hostname
    - postgres_connection_port
    - postgres_connection_username
    - postgres_connection_password
    - postgres_db_name
    - postgres_architecture

- name: Fail if Postgres password length exceeded
  ansible.builtin.fail:
    msg: "The maximum `postgres_connection_password` length is 99 characters"
  when: "postgres_connection_password | length > 99"

- name: (Deprecation) Catch and report renamed Postgres settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "item.old in vars"
  with_items:
    - {'old': 'postgres_vacuum_database', 'new': '<superseded by postgres_vacuum_default_databases_list>'}
    - {'old': 'postgres_additional_databases', 'new': 'postgres_managed_databases'}
    - {'old': 'postgres_vacuum_command', 'new': '<superseded by postgres_vacuum_presets and postgres_vacuum_preset, or postgres_vacuum_query>'}
    - {'old': 'docker_postgres_container_image_registry_prefix', 'new': 'postgres_container_image_registry_prefix'}
    - {'old': 'postgres_pgloader_container_image_name_prefix', 'new': 'postgres_pgloader_container_image_registry_prefix'}